<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />


<title>account setting or edit profile - Bootdey.com</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css"
	rel="stylesheet" />
<link href="/templates/vendor/bootstrap/css/bootstrap.min.css"
	rel="stylesheet" />
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
	crossorigin="anonymous" />
<!-- Google fonts-->
<link
	href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700"
	rel="stylesheet" />
<link
	href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic"
	rel="stylesheet" type="text/css" />
<!-- Custom styles for this template -->
<script src="https://kit.fontawesome.com/b5df635135.js" crossorigin="anonymous"></script>

<link rel="stylesheet" href="/templates/CSS/userInfo.css" />
<link rel="stylesheet" href="/templates/CSS/admin.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
</head>
<body>
	<nav class=" sb-nav-fixed sb-topnav navbar navbar-expand navbar-dark bg-dark adminInfoNav">
		<!-- Navbar Brand-->
		<a class="navbar-brand ps-3" href="index.html">Start Bootstrap</a>
		<!-- Sidebar Toggle-->
		<button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
		<!-- Navbar Search-->
		<form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
			<div class="input-group">
				<input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
				<button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
			</div>
		</form>
		<!-- Navbar-->
		<ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
				<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
					<li><a class="dropdown-item" href="#!">Settings</a></li>
					<li><a class="dropdown-item" href="#!">Activity Log</a></li>
					<li><hr class="dropdown-divider" /></li>
					<li><a class="dropdown-item" href="#!">Logout</a></li>
				</ul>
			</li>
		</ul>
	</nav>
	<h1 id="adminInfoHeader">THÔNG TIN SÂN BÓNG CỦA BẠN</h1>
	<div class="container user-container admin-container" >
		<div class="row gutters">
			<div class="col-12">
				<div class="card h-100" >
					<form th:object="${sportField}" th:action="@{/admin/field}" th:method="POST">
						<div class="card-admin">
							<div class="row gutters">
								<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
									<h6 class="mb-2 text-primary">Thông tin sân</h6>
								</div>
								<div class="col-6">
									<div class="form-group">
										<label for="name">Tên sân</label> 
										<input type="text"
											name="name" class="form-control" id="spName"
											placeholder="Nhập tên sân" th:value="${sportField.name}" required="true" />
									</div>
								</div>
								<div class="col-2">
									<div class="form-group">
										<label for="categoryId">Thể loại sân</label> <br></br>
										<select name="categoryId" id="categoryId">
											<option value="1">Bóng đá</option>
											<option value="2">Cầu lông</option>
											<option value="3">Tennis</option>
										</select>
									</div>
								</div>
								<div class="col-2">
									<div class="form-group">
										<label for="price">Giá sân</label> 
										<input type="number"
											name="price" class="form-control" id="price"
											placeholder="Nhập giá sân"
											th:value="${sportField.price}" required="true"  />
									</div>
								</div>
								<div class="col-6">
									<div class="form-group">
										<label for="info">Điểm nhấn</label> 
										<input type="text"
											name="info" class="form-control" id="info"
											th:value="${sportField.info}" required="true"  />
									</div>
								</div>
								<div class="col-6">
									<div class="form-group">
										<label for="image">Điểm nhấn</label> 
										<input type="file"
											name="image" class="form-control" id="image"
											required="true"  />
									</div>
								</div>
							</div>
							<div class="row gutters">
								<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
									<h6 class="mt-3 mb-2 text-primary">Địa chỉ</h6>
								</div>
								<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
									<div class="form-group">
										<label for="cities">Thành phố</label> <br></br>
										<select name="city" id="cities"
											onchange="getValueForSecondInput()" required="true"  >
											<option value="--Thành phố--">--Thành phố--</option>
											<option th:selected="${sportField.city =='Hà Nội'}" value="Hà Nội">Hà Nội</option>
											<option th:selected="${sportField.city =='Thành phố Hồ Chí Minh'}" value="Thành phố Hồ Chí Minh">Thành phố Hồ Chí Minh</option>
										</select>
									</div>
								</div>
								<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
									<div class="form-group">
										<label for="district">Quận huyện</label> <br></br>
										 <select
											id="district" name="district" required="true"  >
											<option value="">--Quận huyện--</option>
											<option th:selected="${sportField.district}" th:text="${sportField.district}" ></option>
										</select>
									</div>
								</div>
								<div class="col-12">
									<div class="form-group">
										<label for="address">Địa chỉ chi tiết</label> 
										<input type="text"
											name="address" class="form-control" id="address"
											placeholder="Nhập địa chỉ chi tiết"
											th:value="${sportField.address}" required="true"  />
									</div>
								</div>
							</div>
							<div class="row gutters">
								<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
									<div class="text-right">
										<input type="submit" value="Save" id="submit" name="submit"
											class="btn btn-primary" />
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<script data-cfasync="false"
		src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
	<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>
	<script src="/templates/JS/admin.js"></script>
	<script>

        const image = document.getElementById("avatar")
        var input = document.getElementById("avatarInput");
        input.addEventListener("change", () =>{
            image.src = URL.createObjectURL(input.files[0]);
            $("#image").val(input.value.split('\\').pop());
        })
        
        
        function getValueForSecondInput() {
        var options = {
              '--Thành phố--':{
                '--Quận huyện--' : ""
              },
              'Hà Nội': {
                  '--Quận huyện--' : "", 
                  'Ba Đình': "Ba Đình",
                  'Bắc Từ Liêm': "Bắc Từ Liêm",
                  'Cầu Giấy': "Cầu Giấy",
                  'Đống Đa': "Đống Đa",
                  'Hà Đông': "Hà Đông",
                  'Hai Bà Trưng': "Hai Bà Trưng",
                  'Hoàn Kiếm':'Hoàn Kiếm',
                  'Hoàng Mai': 'Hoàng Mai',
                  'Long Biên': 'Long Biên',
                  'Nam Từ Liêm' :'Nam Từ Liêm',
                  'Tây Hồ' : 'Tây Hồ',
                  'Thanh Xuân': 'Thanh Xuân'
              },
              'Thành phố Hồ Chí Minh': {
                  '--Quận huyện--' : "",
                  "Bình Chánh": 'Bình Chánh',
                  "Bình Tân" : 'Bình Tân',
                  "Bình Thạnh" :'Bình Thạnh',
                  "Cần Giờ": 'Cần Giờ',
                  "Củ Chi" : 'Củ Chi',
                  "Quận 1" : 'Quận 1',
                  "Quận 2" : 'Quận 2',
                  "Quận 3": 'Quận 3',
                  "Quận 4": 'Quận 4',
                  "Quận 5": 'Quận 5',
                  "Quận 6": 'Quận 6',
                  "Quận 7": 'Quận 7',
                  "Quận 8": 'Quận 8',
                  "Quận 9": 'Quận 9',
                  "Quận 10": 'Quận 10',
                  "Quận 11": 'Quận 11',
                  "Quận 12": 'Quận 12',
                  "Gò Vấp": 'Gò Vấp',
                  "Hóc Môn":'Hóc Môn',
                  "Nhà Bè" :'Nhà Bè',
                  "Phú Nhuận" : 'Phú Nhuận',
                  "Tân Bình" :'Tân Bình',
                  "Tân Phú" :'Tân Phú',
                  "Thủ Đức" : 'Thủ Đức'
              }
            
          };
        var select1Value = $('#cities').val();
        var select2Options = options[select1Value];
        // console.log(select2Options)
        var select2 = $('#district');
        select2.empty();
        for (let [key, value] of Object.entries(select2Options)) {

          select2.append(`<option value="${value}">${key}</option>`);
        }

      }
        // function saveUser(){
        //     let user = {
        //     		"id": $("#greeting-tag").attr("data-userId"),
        //     		"userName" : $("#greeting-tag").attr("data-userName"),
        //     		"roleId": $("#greeting-tag").attr("data-roleId"),
        //     		"password" : $("#greeting-tag").attr("data-password"),
        //     		"fullName" :$('#fullName').val(),
        //     		"email": $('#eMail').val(),
        //     		"phone": $('#phone').val(),
        //     		"district" : $('#district').val(),
        //     		"city" : $('#cities').val(),
        //     		"image" : document.getElementById("avatarInput").value==""?$("#avatar").attr("data-image"):document.getElementById("avatarInput").value.split('\\').pop()
        //     };
        //     $.ajax
        // }
    </script>
</body>
</html>